$bg-screen-color: #f8ffff;
$bg-bar-color: #a5dd99;
$bg-border-color: #7dcc76;
$menu-header-color: #7dce86;
$menu-hover-color: #5ee486;
$menu-selected-color: #2eb456;
$transition-delay: 0.5s;
@mixin text-shadow($x: 3px, $y: 3px, $color: #000, $blur: 3px) {
  text-shadow: $x $y $blur $color;
}
body { background-color: $bg-screen-color; }
.header-container {
  border-bottom: 10px solid $bg-border-color;
}
.footer-container {
  border-top: 10px solid $bg-border-color;
}
.header-container, .footer-container {
  height: 45px;
  background: $bg-bar-color;
}
.main { padding: 10px 0; min-height: 650px; }
nav a {
  padding: 10px 1px 10px 1px;
  transition: all $transition-delay;
  font-weight: bold;
  border-radius: 2px;
  background: $menu-header-color;
  @include text-shadow(1px, 1px);
  &:link { color: blue; }
  &:hover, &:visited { color: #fff; }
  &:hover {
    font-style: italic;
    text-decoration: none;
    background: $menu-hover-color;
  }
  &:active { background-color: $menu-selected-color; }
  &.selected { background-color: $menu-selected-color;
               border-radius: 5px; }
  &.none { }
}
h1, h2, h3 { padding: 8px 0 0 0 !important; margin: 0px; }
.title {
  color: white;
  padding: 0px;
  @include text-shadow(5px, 5px, #227744, 10px);
}
.footer-container footer {
  color: white;
  padding: 1px;
  @include text-shadow(1px, 1px, #999999);
}
th, td {
  border-style: groove;
  border-width: 1px;
  padding: 5px 5px 5px 5px;
  text-align: center;
}
.display {
  th, td {
    border-style: ridge;
    border-width: 3px;
  }
}
tr { line-height: 1.2em; }
.display {
  min-width: 100%;
  th { color: #00b; background: #ccffcc; }
}
.index th { color: #0b0; background: #ffffcc; }
.edit th { color: #00b; background: #ffcccc; }
tr:nth-child(even) { background: #f3fff3; }
tr:nth-child(odd) { background: #fffff3; }
td > a {
  color: #000;
  &:visited {
    color: #AAF;
  }
  &:hover {
    color: #fff;
    background-color: #000;
    box-shadow: 0 5px 10px #aaa;
  }
  &.delete {
  }
}
.wider { width: 30% !important; }
.wide { width: 24% !important; }
.tight { padding: 0px !important; width: 10% !important; }
.tighter { padding: 0px !important; width: 5% !important; }
.avail { background: url(/assets/icons/flag_green.gif) no-repeat;
         background-position: center center;
         width: 16px; height: 16px; }
div {
  &.field, &.actions {
    margin-bottom: 5;
  }
}
// .button_index, .button_create {
//   font-weight: bold;
//   @include sassy-button("shiny", 3px, 15px, #96ab2f);
//   @include sassy-button-style("push", #96ab2f);
// }
// .button_edit {
//   font-weight: bold;
//   @include sassy-button("shiny", 3px, 15px, #ee8855);
//   @include sassy-button-style("push", #eeaa99);
// }
$create-color: #96cb2f;
button.button_index, button.button_create {
  //@include perspective;
  display: inline !important;
  @include btn(20px, 15px, $transition-delay);
  @include btn3D($create-color, white);
  &:hover {
    color: ($create-color*0.5) !important;
    background: ($create-color*0.9) !important;
  }
  //@include btn3Da(#769b2f, -30deg);

}
$edit-color: #eeaa99;
button.button_edit, a.button_edit {
  //@include perspective;
  display: inline !important;
  @include btn(20px, 15px, $transition-delay);
  @include btn3D($edit-color, white);
  text-decoration: none;
  &:hover {
    color: ($edit-color*0.5) !important;
    background: ($edit-color*1.15) !important;
  }
}

#notice {
  color: green;
  padding: 5px;
  width: 50%;
  font-weight: bold;
  font-size: 1.4em;
  border-radius: 5px;
  box-shadow: 0 5px 10px #aaa;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation, #errorExplanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    font-size: 12px;
    padding-left: 10px !important;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}